VITE_FIREBASE_API_KEY=AIzaSyAwz70YD9mgkrEEZFdv7YTAWqeqg7LXKO4
VITE_FIREBASE_AUTH_DOMAIN=smartnote-13b7b.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=smartnote-13b7b
VITE_FIREBASE_STORAGE_BUCKET=smartnote-13b7b.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=81954195843
VITE_FIREBASE_APP_ID=1:81954195843:web:324c3e8d95eff8aca40eb6
VITE_FIREBASE_MEASUREMENT_ID=G-FF81R80THB

VITE_NEIS_API_KEY=002d3aa91e8c44938a77495f5d186bc1
VITE_GEMINI_API_KEY=AIzaSyBUaflsi_Ff6zvC2DLP6MZ1RUul8Uzwkag
